/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
	display: block;
	margin: 0 auto;
}

.container {
	display: flex;
	width: 80%;
	margin: auto;
	justify-content: center;
	align-items: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.title {
	width: 20%;
	height: 20%;
}

.choice {
	width: 15%;
	height: 15%;
}